body {
  margin-top: 80px; 
}

.container {
  max-width: 800px; 
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

form label {
  font-weight: 600;
}

button {
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}
.upload-image-container {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}

.upload-placeholder {
  background-color: #f8f9fa;
  color: #6c757d;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Adjust the button gap and alignment */
.btn1 {
  padding: 10px 20px;
  font-size: 1rem;
}

.btn-danger1 {
  background-color: #dc3545;
  border: none;
  border-radius: 10px;
}

.btn-primary1 {
  background-color: #000000;
  border: none;
  border-radius: 10px;
}

.d-flex.gap-3 > button {
  min-width: 120px; /* Ensure consistent button size */
}

@media (max-width: 540px) {
  .container {
    padding: 10px;
  }

  .card {
    margin-top: 30px;
  }

  h1 {
    font-size: 1.5rem;
  }
 .btn1 {
  padding: 5px 10px;
  font-size: 0.9rem;
}

}
