.card-body {
  padding: 1rem;
  font-family: "Georgia", serif;
}

.card-text {
  font-family: "Georgia", serif;
  font-size: 0.9rem;
  color: #4f4f4f;
  line-height: 1.2;
}

@media (min-width: 576px) {
  .card-text {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .card-text {
    font-size: 1.05rem;
  }
}
